

.card {
  display: inline-block;
  vertical-align: top;
  margin: 10px;         
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.15);*/
}
  .card:active{
  box-shadow: 0 5px 5px rgba(0,0,0,0.15);
  }

.card-body {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 0;


  padding: 15px;
  margin: 0; 
      
  box-sizing: border-box;
}
.btn-warning {
    border-radius: 12px;       
    padding: 10px 20px;       
    background-color: var(--cor-terciaria); 
    color: black;               
    text-decoration: none;     
    display: inline-block;     
    border: none;
    cursor: pointer;
}
.btn-warning:hover {
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
