.card {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.card:active {
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}

.card-body {
    border-top: 1px solid #ccc;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
}

.btn-warning {
    border-radius: 12px;
    padding: 10px 20px;
    background-color: var(--cor-terciaria);
    color: black;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

